.line{
	border-left: solid grey 0.5px;
	margin-left: 5px;
	height:80%;
	left: 50%;
   }
   .top{
	width: 100%;
	padding: 5px;
	display: flex;
	justify-content: end;
	background-color: #f6f6f6;
   }
   .page{
	margin-right: 2px;
	margin-left: 2px;
	color: #4460a0;
	display: inline-block;
   }
   .fllow{
	margin-left: 2px;
	margin-right: 2px;
	color: #00aaec;
	display: inline-block;
   }
   .bird{
	margin-right: 5px;
	margin-left: 5px;
	height: 16px;
	display: inline-block;
   }
   .fb{
	margin-right: 5px;
	height: 15px;
	display: inline-block;
   }
   .pagefora, .followfora{
	text-decoration: none;
   }
   .secondT{
	width: 100%;
	padding: 1px;
	background-color: white;
	display: flex;
	justify-content: space-between;
   }
   .van{
	display: flex;
   }
   .logo{
	height: 100%;
	width: 200px;
   }
   .hex{
	text-align: center;
}
   .homepage, .product, .contact{
	color: #b8ebda;
	vertical-align: middle;
	font-size: larger;
	font-weight: bold;
   }
   .homepage{
	margin-top: 15px;
	margin-right: 0px;
   }
   .product{
	margin-top: 15px;
	margin-right: 30px;
	margin-left: 30px;
   }
   .contact{
	margin-top: 15px;
	margin-left: 0px;
	margin-right: 15px;
   }
   .van a{
	text-decoration: none;
	border-bottom: 3px solid transparent;
   }
   .van a:hover{
	border-bottom: 5px solid #b8ebda;
   }	
  	.banner1{
	width: 40%;
	padding-top: 173px;
	padding-bottom: 173px;
	background-image: url("./image/banneresizev2.png");
	display: inline-block;
	background-size: cover;
	}
   .banner2{
	display: inline-block;
	width: 60%;
	padding-top: 173px;
	padding-bottom: 173px;
	background-image: url("./image/banner.png");
	background-repeat: no-repeat;
	background-position: right;
	background-size: cover;
   }
   .bannercover1{
	width: 100%;
	height: 95px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: gray;
	opacity: 0.1;
	position: absolute;
	top: 80px;
   }
   .bannercover2{
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: gray;
	opacity: 0.1;
	position: absolute;
	top: 325px;
    }
   .bannerword{
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
	position: absolute;
	top: 175px;
   }
   .bannerword p{
	font-size: 40px;
	color: white;
   }
   .bannerword1{
	padding-top: 25px;
	padding-left: 20px;
   }
   .bannerword2{
	padding-left: 20px;
   }
   .part2{
	margin-top: 100px;
	width: 100%;
	padding-top: 15px;
	padding-bottom: 15px;
	display: flex;
	justify-content: space-around;
   }
   .html5, .rwd, .jquery{
	width: 470px;
	padding-top: 15px;
	padding-bottom: 15px;
	box-shadow: 0px 4px 4px #dbdbdb;
	border-radius: 5px 5px 5px 5px;
   }
   .html5 img{
	position: relative;
	left: 18%;
   }
   .html5 h1{
	text-align: center;
	font-size: 20px;
   }
   .rwd img{
	position: relative;
	left: 18%;
   }
   .rwd h2{
	text-align: center;
	font-size: 20px;
   }
   .jquery img{
	position: relative;
	left: 18%;
   }
   .jquery h3{
	text-align: center;
	font-size: 20px;
   }
   .part2 p{
	font-size: 14px;
	line-height: 20px;
	margin-top: 15px;
	margin-right: 25px;
	margin-left: 25px;
   }
   .rwd p{
	font-size: 14px;
	line-height: 20px;
	margin-top: 15px;
	margin-right: 25px;
	margin-left: 25px;
   }
   .jquery ul li{
	font-size: 14px;
	margin-top: 5px;
	margin-right: 25px;
	margin-left: 25px;
   }
   li{
	list-style-type: circle;
	position: relative;
	left: 15px;
   }
   .part3{
	width: 100%;
	height: 400px;
   }
   .part3 h4{
	text-align: center;
	font-size: 36px;
	margin-top: 35px;
	margin-bottom: 35px;
   }
   table{
	margin-top: 30px;
	margin-right: auto;
	margin-left: auto;
	width: 1200px;
   }
   table th{
	background-color: #f7f7f7;
	font-size: 25px;
	border-collapse: collapse;
	border-top: 2px solid #dddddd;
	border-bottom: 2px solid #dddddd;
	border-right: 2px solid transparent;
	border-left: 2px solid transparent;
	padding: 5px;
	text-align: center;
   }
   table tr td{
	font-size: 25px;
	border-collapse: collapse;
	border-top: 2px solid #dddddd;
	border-bottom: 2px solid #dddddd;
	border-right: 2px solid transparent;
	border-left: 2px solid transparent;
	text-align: center;
	padding: 5px;
   }  
   .green{
	color: green;
   }
   .part4{
	height: 470px;
	width: 100%;
	background-image: linear-gradient(to bottom, #00644b, #009772);
	box-sizing: border-box;
   }
   .interesting, .information{
	font-size: 40px;
	text-align: center;
	color: white;
   }
   .interesting{
	padding-top: 20px;
   }
   .information{
	margin-top: 10px;
   }
   .part5{
	width: 100%;
	display: flex;
	position: absolute;
	top: 1442px;
	justify-content: space-around;
   }
   .blank{
	width: 660px;
	height: 250px;
	background-color: white;
	margin-top: 50px;
	margin-left: 20px;
	border-radius: 5px 5px 5px 5px;
   }
   .personaldata{
	width: 660px;
	height: 250px;
	background-color: transparent;
	margin-top: 50px;
	margin-left: 20px;
	justify-content: flex-end;
   }
   label{
	display: block;
	color: white;
	font-size: 18px;
	margin-left: 15px;
	margin-top: 5px;
   }
   input{
	margin-top: 5px;
	margin-left: 10px;
	height: 30px;
	border: 0px solid green;
	border-radius: 5px 5px 5px 5px;
	display: inline-block;
	outline: none;
   }
   .submit{
	display: inline-block;
	margin-top: 25px;
	position: relative;
	left: 82%;
	background-color: #0c9;
	color: white;
	padding-left: 20px;
	padding-right: 20px;
	box-sizing: content-box;
   }
	footer{
	width: 100%;
	height: 121px;
	display: flex;
	}
   mark{
	background-color: transparent;
	color: red;
   }
   .hexgrey{
	width: 87%;
	display: flex;
	flex-direction: column;
	justify-content: center;
   }
   .forimagegrey{
	margin-left: 10px;
   }
   .mailphone{
	width: 13%;
	justify-content: center;
	display: flex;
	flex-direction: column;
	margin-left: 2px;
	margin-right: 2px;
   }
   .upperword, .downword{
	width: 230px;
   }
   .upperword{
	margin-bottom: 3px;
	padding-bottom: 3px;
   }
   .downword{
	margin-top: 3px;
	padding-top: 3px;
   }
   /**{
	outline: 1px solid red;
   }*/